[Unit]
Description=Remap Sink for PipeWire
After=pipewire.service wireplumber.service sound.target sys-devices-platform-soc-20980000.usb-usb1-1\x2d1-1\x2d1.1-1\x2d1.1.1-1\x2d1.1.1:1.0-sound-card1-controlC1.device
Requires=pipewire.service wireplumber.service sound.target sys-devices-platform-soc-20980000.usb-usb1-1\x2d1-1\x2d1.1-1\x2d1.1.1-1\x2d1.1.1:1.0-sound-card1-controlC1.device

[Service]
Type=oneshot
ExecStart=pw-cli ls Node|grep mono_sink_left && pw-cli ls Node|grep mono_sink_right && pactl set-sink-volume $(pactl list sinks short | grep 'alsa_output.usb-C-Media_Electronics_Inc._USB_Audio_Device-00.analog-stereo' | awk '{print $1}') 100%
Restart=on-failure
RestartSec=5
StartLimitInterval=60
StartLimitBurst=5

[Install]
WantedBy=default.target

