Arduino/build
*.so
*.o
*.dSYM/
host/build/
host/daemon
host/daemon_c89
host/daemon_c89_final
host/daemon_c89_final_sip
host/daemon_c89_stub
host/daemon_minimal
host/daemon_simple
host/daemon_working
host/test_c_integration
host/test_daemon_state
host/simulator
host/*.log
*.pch
pcb/*.lck
host/unit_tests
